# Database
DATABASE_URL="postgresql://user:password@localhost:5432/projeto_viagens"

# JWT
JWT_SECRET="sua-chave-secreta-muito-segura-aqui"

# App
NEXTAUTH_SECRET="sua-chave-nextauth-secreta"
NEXTAUTH_URL="http://localhost:3000"

# Node Environment
NODE_ENV="development"
